.o-fluid {

	/*

		Fluid typography based on https://www.smashingmagazine.com/2022/10/fluid-typography-clamp-sass-functions
		but with a few changes to make it work with CSS custom properties.

		Following values can be used on the CSS of the element itself:
		--value-min
		--value-max
		--breakpoint-min
		--breakpoint-max
	 */

	/* default breakpoint range */
	--breakpoint-min: var(--breakpoint-s);
	--breakpoint-max: var(--breakpoint-xl);

	--value-min-rem: calc((var(--value-min) / 16) * 1rem);
	--value-max-rem: calc((var(--value-max) / 16) * 1rem);

	--slope: calc((var(--value-max) - var(--value-min)) / (var(--breakpoint-max) - var(--breakpoint-min)));
	--slope-vw: calc(var(--slope) * 100 * 1vw);

	--intercept: calc(var(--value-min) - (var(--slope) * var(--breakpoint-min)));
	--intercept-rem: calc((var(--intercept) / 16) * 1rem);

	/* use this value on he property */
	--fluid-value: clamp(
		var(--value-min-rem),
		calc(var(--slope-vw) + var(--intercept-rem)),
		var(--value-max-rem)
	);
}
